/* Error: Missing argument $size.
 *     ,
 * 34  |         @function currentShift($position, $size, $base-shift) {
 *     |                   =========================================== declaration
 * ... |
 * 46  |                 left: currentShift($column - 1) * $cell-size + $shift;
 *     |                       ^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   style.scss 46:23  currentShift()
 *   style.scss 46:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $size.\a     \2577 \a 34  \2502          @function currentShift($position, $size, $base-shift) {\d\a     \2502                    \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 46  \2502                  left: currentShift($column - 1) * $cell-size + $shift;\d\a     \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   style.scss 46:23  currentShift()\a   style.scss 46:23  root stylesheet";
}
